*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #main{
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main{
    height: 100vh;
    background: url(bg2.jpg);
    object-fit: fill;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inside{
    width: 450px;
    height: 550px;
    background: url(bg3.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
}

table{
    border: 5px solid #035d8f;
    border-radius: 10px;
    height: 20rem;
    width: 20rem;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
}

h1{
    font-size: 70px;
    -webkit-text-stroke: 1px;
}

h3{
    color:chocolate;
}

td{
    height: 70px;
    width: 70px;
    border: 2px solid #085a66;
    border-radius: 5px;
    color: #00affa;
    -webkit-text-stroke: 2px #085a66;
}

#restart{
    border: 2px solid #085a66;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 18px;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
}

h1, #restart{
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#page1{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(122,183,255,1) 0%, rgba(21,83,161,1) 90% );
    height: 26rem;
    width: 24rem;
    z-index: 1;
    align-items: center;
    border-radius: 20px;
    /* display: none; */
    color: #fff;
    -webkit-text-stroke: #764ada .2px;
    position: relative;
}

#grp{
    margin-top: 1.5rem;
    display: inherit;
    flex-direction: column;
    line-height: 3.5rem;
    height: 13rem;
    width: 18rem;
}

#page1 label{
    font-size: 20px;
}

#page1 input[type="text"]{
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}

h2{
    margin-top: 1rem;
    font-size: 46px;
    text-align: center;
}
#page1 button{
    height: 2.5rem;
    width: 6rem;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    color:aliceblue;
    background-color: #67c250;
    border-color:#764ada;
    cursor: pointer;
}

@media (max-width:600px) {
    #main{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    #inside{
        height: 60vh;
        width: 90vw;
    }
    table{
        height: 8rem;
        width: 15rem;
    }
    h1{
        font-size: 3.5rem;
    }
    #page1{
        height: 56vh;
        width: 45vh;
        /* color: #000; */
        font-weight: 800;
        /* display: none; */
    }

    #page1 button{
        /* color: #000; */
        background-color: #0b97a7;
        font-weight: 800;
    }
}
